@import "../../style/variable.scss";

.section {
  scroll-margin-top: 100px;

  :global {
    .contact-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include max(991.98){
        align-items: flex-start;
      }
      background: url("/assets/images/contact-bg.png") center/cover no-repeat;
      border-radius: 32px;
      padding: 40px;
      gap: 40px;
      min-height: 400px;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
      @include max(991.98) {
        flex-direction: column;
        padding: 25px  15px;
        gap: 24px;
        border-radius: 16px;
      }
    }

    .contact-info {
      color: $white;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: $font-size-6;
      @include min(992) {
        justify-content: center;
        gap: 24px;

      }
      &__item {
        margin-bottom: 0;
        word-break: break-all;
        opacity: 0.95;
        @include max(991.98){
          font-size: 16px;
          
        }
      }
    }

    .contact-info__item {
      color: #fff;
      // transition: all 0.3s ease-in;
      &:hover {
        color: $secondary;
      }
    }

    .contact-form {
      background: transparent;
      border-radius: 18px;

      @include min(992) {
        padding: 32px 24px;
      }
      padding: 15px 0;
      flex: 2;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
      form {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
    }

    .form-control {
      background-color: #412210 !important;
      border-color: #ffffff;
      color: #ffffff;
      border-radius: 16px;
      border: none;
      min-height: 46px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        font-family: var(--ff-inter);
      }

      &:focus {
        background-color: #412210 !important;
        border-color: #ffffff;
        color: #ffffff;
        box-shadow: none;
      }
    }
  }
}
