@import '../../style/variable.scss';


.section {
  .fade {
    will-change: transform;
    opacity: 0;
}
    .img{
        border-radius: 16px;
        overflow: hidden;
        figure{
            --bs-aspect-ratio:80%;
        }
    }
}

